{% load static %}
<div class="sw-footer">
    <img src="{% static "images/sw_full_logo_primary.svg" %}" alt="LOGO" class="sw-footer-logo" oncontextmenu="return false;">
    <div class="sw-footer-info">
        <div class="sw-footer-info-panel">
            <div class="sw-footer-subtext">
                <p>ООО "НПП ИНТЭК-ИНЖИНИРИНГ"</p>
                <p>г. Тюмень, ул. Чекистов, дом 38</p>
                <p>info@smartwells.ru</p>
                <p>office@inteking.ru</p>
            </div>
        </div>

        <div class="sw-footer-info-panel">
            <div class="sw-footer-subtext">
                <p>
                    <a href="/contract_offer/">Договор-оферта</a>
                </p>
                <p>
                    <a href="/privacy/">Политика конфиденциальности</a>
                </p>
                <p>
                    Copyright © 2024 Smartwells. Все права защищены.
                </p>
            </div>
        </div>
    </div>
    <div class="sw-footer-cookie">
        Мы используем cookies для сбора обезличенных персональных данных. Оставаясь на сайте, вы соглашаетесь на сбор таких данных.
    </div>
</div>
