{% load static %}
<div class="sw-header">
    <div class="sw-header-left">
        <img oncontextmenu="return false;" src="{% static "images/sw_icon_primary.png" %}" alt="LOGO" class="sw-header-logo-img">

        <ul class="sw-header-ul">
            <li class="sw-header-ul-link"><a href="{% url 'landing:index' %}">Главная</a></li>
            <li class="sw-header-ul-link"><a href="{% url 'news:article_list' %}">Новости</a></li>
            <!-- <li class="sw-header-ul-link"><a href="{% url 'landing:products' %}">Продукты</a></li> -->
            <li class="sw-header-ul-link"><a href="{% url 'academy:home' %}">Академия</a></li>
            <li class="sw-header-ul-link"><a href="{% url 'landing:about' %}">О нас</a></li>
        </ul>
    </div>

    {% if request.user.is_authenticated %}
        <div class="sw-header-user">
            {% if request.path == '/courses/' %}
                <a href="{% url 'academy:to_academy' %}">
                    <img src="{% static 'images/academy.png' %}" style="width: 32px; height: 32px;" alt="academy">
                </a>
            {% endif %}

            <a href="{% url 'cart:cart' %}">
                <img src="{% static 'images/cart.png' %}" style="width: 32px; height: 32px;" alt="cart">
            </a>

            <a href="{% url 'users:profile' %}">
                <img src="{% static 'images/user.png' %}" style="width: 32px; height: 32px;" alt="user">
            </a>
        </div>
    {% else %}
        <div class="sw-header-user">
            {% if request.path == '/courses/' %}
                <a href="{% url 'academy:to_academy' %}" class="btn btn-primary">Академия</a>
            {% endif %}
            <a href="{% url 'users:keycloak_login' %}" class="btn btn-primary" style="text-decoration: none;">Войти</a>
        </div>
    {% endif %}
</div>