{% extends 'base.html' %}

{% load static %}
{% block css %}
<!-- <link rel="stylesheet" href="{% static "assets/css/checkout.css"%}" /> -->
{% endblock %}

{% block content %}
<div class="sw-width-wrapper">
    <h3 class="sw-title">Оформление заказа</h3>
    {% if messages %}
    <div class="messages-container">
        <ul class="messages">
            {% for message in messages %}
                <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <form id="order-form" class="mb-4 w-100" method="post" action="{% url 'checkout:create_order'%}">
        {% csrf_token %}

        <!-- Личные данные -->
        <div class="mb-3">
            <label for="id_last_name" class="form-label">Фамилия</label>
            <input type="text" class="form-control" name="last_name" id="id_last_name" placeholder="Введите фамилию" required>
        </div>
        
        <div class="mb-3">
            <label for="id_first_name" class="form-label">Имя</label>
            <input type="text" name="first_name" class="form-control" id="id_first_name" placeholder="Введите имя" required>
        </div>

        <div class="mb-3">
            <label for="id_email" class="form-label">Электронная почта</label>
            <input type="email" class="form-control" id="id_email" name="email" placeholder="Введите вашу почту" required>
        </div>

        <div class="mb-3">
            <label for="id_phone" class="form-label">Номер телефона</label>
            <input type="text" class="form-control" name="phone" id="id_phone" placeholder="+7 (900) 123-45-67" required>
        </div>

        <!-- Таблица курсов -->
        <h3 class="mt-4">Курсы</h3>
        {% if cart.items.exists %}
        <table class="table table-bordered table-striped mt-3">
            <thead class="table-primary">
            <tr>
                <th>Название курса</th>
                <th class="text-center">Количество</th>
                <th class="text-center">Цена (₽)</th>
            </tr>
            </thead>
            <tbody>
            {% for cart_item in cart.items.all %}
                <tr>
                    <td>Курс "{{ cart_item.item.title|truncatechars:20 }}"</td>
                    <td class="text-center">{{ cart_item.quantity }}</td>
                    <td class="text-center">{{ cart_item.total_price }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="2" class="text-end fw-bold">Сумма заказа:</td>
                <td class="text-center fw-bold">{{ cart.total_price }}</td>
            </tr>
            </tfoot>
        </table>
        {% else %}
            <p>Корзина пустая</p>
            <a href="{% url 'academy:home' %}"  class="btn btn-primary">Вернуться на главную</a>
        {% endif %}

        <!-- Способ оплаты -->
        <div class="mt-4">
            <h3>Способ оплаты</h3>

            <select class="form-select mt-3" name="payment_method" placeholder="" id="id_payment_method">
                <option value="" disabled selected>Выберите способ оплаты</option>
                <option value="card_online">Картой онлайн</option>
                <option value="invoice">Счёт для юридического лица</option>
            </select>
        </div>

        <!-- Кнопка для подтверждения заказа -->
        <div class="text-end mt-4">
            <input type="reset" value="Сбросить" class="btn btn-primary">
            {% if cart.items.exists %}
                <input type="submit" value="Подтвердить заказ" class="btn btn-primary">
            {% else %}
                <input type="submit" value="Подтвердить заказ" class="btn btn-primary disabled">
            {% endif %}
        </div>

    </form>
</div>
{% endblock %}

{% block js %}
<script src={% static "assets/js/checkout.js"%}></script>
<!-- PayPal JavaScript SDK -->
<script src="https://www.paypal.com/sdk/js?client-id=test&currency=USD"></script>
<script src={% static "assets/js/payment.js"%}></script>
{% endblock %}
