{% extends "base.html" %}
{% load static %}

{% block content %}
    <section class="contract-offer">
        <div class="sw-width-wrapper">
            <h2 class="sw-title"><strong>Договор публичной оферты о продаже цифровых товаров</strong></h2>

            <div class="sw-contract">
                <p class="sw-subtitle"><strong>1. Общие положения</strong></p>

                <p>1.1. ООО “НПП Интэк - Инжиниринг” далее «Продавец», публикует Публичную оферту о продаже цифровых товаров, представленных на официальном интернет-сайте Продавца https://smartwells.ru/</p>
                <p>1.2. В соответствии со статьей 437 Гражданского Кодекса Российской Федерации (ГК РФ) данный документ является публичной офертой, и в случае принятия изложенных ниже условий физическое лицо, производящее акцепт этой оферты, осуществляет оплату Цифровых Товаров Продавца в соответствии с условиями настоящего Договора. В соответствии с пунктом 3 статьи 438 ГК РФ, оплата Цифрового Товара Покупателем является акцептом оферты, что считается равносильным заключению Договора на условиях, изложенных в оферте.</p>
                <p>1.3. На основании вышеизложенного, внимательно ознакомьтесь с текстом публичной оферты, и если вы не согласны с каким-либо пунктом оферты, Вам предлагается отказаться от покупки Цифровых Товаров или использования Услуг, предоставляемых Продавцом.</p>
                <p>1.4. В настоящей оферте, если контекст не требует иного, нижеприведенные термины имеют следующие значения:<br>
                    «Оферта» – публичное предложение Продавца, адресованное любому физическому лицу (гражданину), заключить с ним договор купли-продажи (далее – «Договор») на существующих условиях, содержащихся в Договоре, включая все его приложения.<br>
                    «Покупатель» – физическое лицо, заключившее с Продавцом Договор на условиях, содержащихся в Договоре.<br>
                    «Акцепт» – полное и безоговорочное принятие Покупателем условий Договора.<br>
                    «Цифровые Товары» – перечень наименований ассортимента, представленный на официальном интернет-сайте.<br>
                    «Заказ» – отдельные позиции из ассортиментного перечня Цифровых Товаров, указанные Покупателем при оформлении заявки на интернет-сайте.
                    </p>

                <p class="sw-subtitle"><strong>2. Предмет договора</strong></p>

                <p>2.1. Продавец продает Цифровой Товар в соответствии с действующим прейскурантом, опубликованным на интернет-сайте Продавца «https://smartwells.ru/», а Покупатель производит оплату и принимает Цифровой Товар в соответствии с условиями настоящего Договора.</p>
                <p>2.2. Настоящий Договор и приложения к нему являются официальными документами Продавца и неотъемлемой частью оферты.</p>

                <p class="sw-subtitle"><strong>3. Оформление Заказа</strong></p>

                <p>3.1. Заказ Цифрового Товара осуществляется Покупателем через Интернет-сайт https://smartwells.ru/.</p>
                <p>3.2. При регистрации на интернет-сайте Продавца Покупатель обязуется предоставить следующую регистрационную информацию о себе: имя, адрес электронной почты; контактный телефон (мобильный, стационарный), а при оформлении заказа без регистрации — только адрес электронной почты.</p>
                <p>3.3. Покупатель имеет право редактировать регистрационную информацию о себе. Продавец не изменяет и не редактирует регистрационную информацию о Покупателе без согласия последнего. Продавец обязуется не сообщать данные Покупателя, указанные при регистрации на сайте https://smartwells.ru/ и при оформлении Заказа, лицам, не имеющим отношения к исполнению Заказа. Утвердив Заказ выбранного Цифрового Товара, Покупатель предоставляет Продавцу необходимую информацию в соответствии с порядком, указанном в п. 3.2. настоящего Договора.</p>
                <p>3.4. Продавец не несет ответственности за содержание и достоверность информации, предоставленной Покупателем при оформлении Заказа.</p>
                <p>3.5. Покупатель несёт ответственность за достоверность предоставленной информации при оформлении Заказа.</p>
                <p>3.6. Оплата Покупателем самостоятельно оформленного на интернет-сайте Заказа означает согласие Покупателя с условиями настоящего Договора. День оплаты Заказа является датой заключения Договора купли-продажи между Продавцом и Покупателем.</p>
                <p>3.7. В случае возникновения у Покупателя вопросов, касающихся свойств и характеристик Цифрового Товара, перед оформлением Заказа ему необходимо обратиться за консультацией к Продавцу.</p>

                <p class="sw-subtitle"><strong>4. Сроки исполнения Заказа</strong></p>

                <p>4.1. Цифровой Товар доставляется Покупателю сразу после оформления и оплаты Заказа. Допускается задержка доставки Цифрового Товара на срок до 24 часов с момента оплаты.</p>
                <p>4.2. В случае предоставления Покупателем недостоверной информации его контактных данных Продавец за ненадлежащее исполнение Заказа ответственности не несет.</p>

                <p class="sw-subtitle"><strong>5. Оплата Заказа</strong></p>

                <p>5.1. Оплата Заказа осуществляется путем перечисления Покупателем денежных средств Продавцу через платежную форму, размещенную на сайте https://smartwells.ru/. Подтверждением оплаты исполненного Заказа является информационное письмо, которое приходит Покупателю на электронную почту после оплаты Заказа. В нем же содержится ссылка (ссылки) на скачивание Цифрового Товара.</p>
                <p>5.2. Цены на любые позиции Цифрового Товара, указанные на интернет-сайте https://smartwells.ru/, могут быть изменены Продавцом в одностороннем порядке без уведомления Покупателя. В случае изменения цены на заказанные позиции Цифрового Товара, Продавец обязуется в кратчайшие сроки проинформировать Покупателя о таком изменении. Покупатель вправе подтвердить либо аннулировать Заказ.</p>

                <p class="sw-subtitle"><strong>6. Доставка товара</strong></p>

                <p>6.1 Цифровой Товар доставляется Покупателю путем отправки на указанный адрес электронной почты после оформления и оплаты Заказа.</p>

                <p class="sw-subtitle"><strong>7. Возврат Заказа</strong></p>

                <p>7.1. Согласно пункту 14 Постановлению Правительства РФ от 19.01.1998 N 55 «Об утверждении Правил продажи отдельных видов товаров, перечня товаров длительного пользования, на которые не распространяется требование покупателя о безвозмездном предоставлении ему на период ремонта или замены аналогичного товара, и перечня непродовольственных товаров надлежащего качества, не подлежащих возврату или обмену на аналогичный товар других размера, формы, габарита, фасона, расцветки или комплектации» издания, воспроизводимые на технических носителях не подлежат возврату или обмену на аналогичный товар.</p>

                <p class="sw-subtitle"><strong>8. Авторские права</strong></p>

                <p>8.1. Вся текстовая информация и графические изображения, размещенные на интернет-сайте https://smartwells.ru/, а также в содержимом Цифровых Товаров, являются собственностью Продавца.</p>

                <p class="sw-subtitle"><strong>9. Права, обязанности и ответственность</strong></p>

                <p>9.1. Продавец не несет ответственности за ненадлежащее использование товаров Покупателем, заказанных на интернет-сайте https://smartwells.ru/.</p>
                <p>9.2. В соответствии с п. 4 ст. 16 Федерального закона «Об информации, информационных технологиях и о защите информации» Продавец обязуется: предотвращать попытки несанкционированного доступа к информации и/или передачу ее лицам, не имеющим непосредственного отношения к исполнению Заказов; своевременно обнаруживать и пресекать такие факты.</p>
                <p>9.3. Все претензии по ненадлежащему исполнению заказа Покупатель вправе направить на адрес электронной почты, указанный на интернет-сайте https://smartwells.ru/. Вся поступившая информация обрабатывается в кратчайшие сроки.</p>
                <p>9.4. Персональные данные обрабатываются в соответствии с «Политикой в отношении обработки персональных данных», которая размещена на интернет-сайте по адресу https://smartwells.ru/privacy/ . Совершая заказ в интернет-магазине, пользователь соглашается с указанной Политикой в отношении обработки персональных данных.</p>
                <p>ООО “НПП Интэк - Инжиниринг”<br>
                    ИНН: 7203391384<br>
                    ОГРН/ОГРНИП: 1167232076890<br>
                    Тел.: +7 (3452) 393-349<br>
                    E-mail: info@smartwells.ru<br>
                    Сайт: https://smartwells.ru/
                    </p>
            </div>
        </div>
    </section>
{% endblock %}