{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="profile">
    <div class="sw-width-wrapper">
        <h1 class="store-title sw-title">Профиль</h1>

        <div class="profile-section sw-section">
            <img src="{% static 'images/profile.png' %}" alt="" class="img-thumbnail sw-avatar">

            <div class="profile-user">
                <p class="sw-subtitle profile-user-welcome">Здравствуйте, <strong>{{ request.user.get_username }}</strong>!</p>
                <p class="sw-subtitle profile-user-welcome">Всего у вас <strong>{{ request.user.orders.count }}</strong> заказов</p>
            </div>

            <div class="profile-info">
                <div class="profile-info-block">
                    <div class="input-group mb-3 profile-info-block-input">
                        <span class="input-group-text profile-info-block-title" id="inputGroup-sizing-sm">Имя</span>
                        <input type="text" value="{{ request.user.first_name }}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                    </div>
                    <div class="input-group mb-3 profile-info-block-input">
                        <span class="input-group-text profile-info-block-title" id="inputGroup-sizing-sm">Фамилия</span>
                        <input type="text" value="{{ request.user.last_name }}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                    </div>
                </div>
                <div class="profile-info-block">
                    <div class="input-group mb-3 profile-info-block-input">
                        <span class="input-group-text profile-info-block-title" id="inputGroup-sizing-sm">Никнейм</span>
                        <input type="text" value="{{ request.user.get_username }}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                    </div>
                    <div class="input-group mb-3 profile-info-block-input">
                        <span class="input-group-text profile-info-block-title" id="inputGroup-sizing-sm">Почта</span>
                        <input type="text" value="{{ request.user.email }}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                    </div>
                </div>
            </div>
            <p>Ваши заказы: <a href="{% url 'users:user_orders' %}">Перейти к заказам</a></p>
            <p>Если вы хотите выйти из системы: <a href="{% url 'users:logout' %}">Выйти</a></p>
        </div>

        
    </div>
</section>
<p>Если вы хотите сменить пароль: <a href="{% url 'users:password_change' %}">Сменить пароль</a></p>
{% endblock %}